* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #008000;
}

.top-bar {
    width: 100%;
    height: 10vh;
    background-color: #808000;
    border-bottom: 3px solid #000;
}

.content {
    flex: 1;
    position: relative;
    padding: 20px;
}

.diamond-group {
    position: absolute;
    top: 50px;
    left: 240px;
}

.diamond {
    width: 200px;
    height: 200px;
    background-color: #ff0000;
    border: 3px solid #000;
    transform: rotate(45deg);
    position: relative;
}

.diamond.second {
    margin-top: -20px;
    margin-left: -180px;
}

.middle-elements {
    position: absolute;
    left: 50%;
    top: 115px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 100px;
}

.lines {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.line {
    width: 160px;
    height: 25px;
    background-color: #0000ff;
    border: 3px solid #000;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: #008080;
    border: 3px solid #000;
    border-radius: 50%;
}

.side-panel {
    position: absolute;
    right: 40px;
    top: 10%;
    width: 200px;
    height: 80%;
    background-color: #ffffff;
    border: 3px solid #000;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.panel-text {
    font-family: sans-serif;
    font-size: 40px;
    color: #000;
}