:root {
    --dim: max(10vw, 120px);
    --d-pos-x: 180px;
    --d-pos-y: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #008000;
}

.top-bar {
    width: 100%;
    height: 10vh;
    min-height: 60px;
    background-color: #808000;
    border-bottom: 4px solid #000;
    flex-shrink: 0;
    position: relative;
}

.content {
    flex: 1;
    position: relative;
    padding: 0;
}

.diamond-group {
    position: absolute;
    top: var(--d-pos-y);
    left: var(--d-pos-x);
}

.diamond {
    width: var(--dim);
    height: var(--dim);
    background-color: #ff0000;
    border: 4px solid #000;
    transform: rotate(45deg);
    position: relative;
}

.diamond.second {
    margin-top: calc(var(--dim) * -0.1);
    margin-left: calc(var(--dim) * -0.9);
}

.middle-elements {
    position: absolute;
    left: 50%;
    top: 15vh;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: max(2vw, 30px);
}

.lines {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.line {
    width: max(15vw, 125px);
    height: max(2.5vw, 25px);
    background-color: #0000ff;
    border: 4px solid #000;
}

.circle {
    width: max(13vw, 125px);
    height: max(13vw, 125px);
    background-color: #008080;
    border: 4px solid #000;
    border-radius: 50%;
}

.side-panel {
    position: absolute;
    right: 1vw;
    top: 5%;
    width: 30%;
    height: 90%;
    background-color: #ffffff;
    border: 4px solid #000;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.panel-text {
    font-family: sans-serif;
    font-size: max(5vw, 40px);
    color: #000;
}

@media (max-width: 900px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        padding-top: 0;
    }

    .diamond-group {
        position: static;
        width: auto;
        height: auto;
        margin-top: var(--d-pos-y);
        margin-left: var(--d-pos-x);
        margin-bottom: 50px;
    }

    .middle-elements {
        position: static;
        transform: none;
        flex-direction: row;
        margin-left: calc(var(--d-pos-x) * 0.37);
    }

    .side-panel {
        background-color: #C83737;
        right: 20px;
        top: 10px;
    }
}

@media (max-width: 582px) {
    .content {
        align-items: center;
    }

    .diamond-group {
        align-self: flex-start;
        margin-left: var(--d-pos-x);
        margin-top: var(--d-pos-y);
    }

    .middle-elements {
        margin-left: calc(var(--d-pos-x) * -0.4);
        justify-content: center;
    }

    .side-panel {
        position: static;
        width: 70%;
        height: 35vh;
        margin-right: 20px;
        background-color: #0000ff;
    }
}